
.slider-wrapper{
    position: relative;
    max-width: 24rem;
    max-height: 5%;
    margin: 0 auto;
    
  }
  @keyframes slider3{
    0%{
      transform: translateX(0);
  
    }
    10%{
      transform: translateX(-100);
      
    }
    20%{
      transform: translateX(-200%);
      
    }
    30%{
      transform: translateX(-300%);
      
    }
  
    40%{
      transform: translateX(-400%);
      
    }
  
    50%{
      transform: translateX(-500%);
    }
  
    60%{
      transform: translateX(-600);
      
    }
    70%{
      transform: translateX(-700%);
      
    }
    80%{
      transform: translateX(-800%);
      
    }
  
    90%{
      transform: translateX(-900%);
      
    }
  
    100%{
      transform: translateX(-1000%);
    }
  }
  @keyframes slider2{
    0%{
      transform: translateX(0);
  
    }
    25%{
      transform: translateX(-100);
      
    }
    30%{
      transform: translateX(-200%);
      
    }
    50%{
      transform: translateX(-300%);
      
    }
    55%{
      transform: translateX(-400%);
      
    }
  
    65%{
      transform: translateX(-500%);
      
    }
  
    75%{
      transform: translateX(-600%);
      
    }
    85%{
      transform: translateX(-700%);
      
    }
  
    100%{
      transform: translateX(-800%);
      
    }
  }
  
  @keyframes slider1 {
    0%{
      transform: translateX(0);
  
    }
    25%{
      transform: translateX(-100);
      
    }
    30%{
      transform: translateX(-200%);
      
    }
    50%{
      transform: translateX(-300%);
      
    }
    55%{
      transform: translateX(-400%);
      
    }
  
    65%{
      transform: translateX(-500%);
      
    }
  
    75%{
      transform: translateX(-600%);
      
    }
    85%{
      transform: translateX(-700%);
      
    }
  
    100%{
      transform: translateX(-800%);
      
    }
  }
  
  
  .slider1, .slider2, .slider3{
    display:flex;
    aspect-ratio: 1 / 1;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%, 0%, 0.25);
    border-radius: 0.5rem;
    
  }
  
  .slider1 img, .slider2 img, .slider3 img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    animation: slide 48s infinite;
  }
  .--nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  
  }
  
  .slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.65;
    transition: opacity ease 250ms;
  }
  
  .slider-nav:hover{
    opacity: 1;
    transition: opacity ease 250ms;
    
  }
  